<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<title>¿Qué tipo de empanada eres?</title>
</head>
<body>

	<div class="jumbotron">

		<div class="d-flex justify-content-center">
            <h1>Haz una breve descripc&iacute;on tuya</h1>
        </div>

		<div class="d-flex justify-content-center">
        	<img th:src="@{images/descripcion.jpg}" class="img-fluid" alt="Mente">
        </div>

		<div class="form-group">
        	<form th:action="@{/respuesta5}" method="post">
        		<div class="d-flex justify-content-center">
					<div class="form-group">
						<br>
			      		<label for="exampleTextarea">Descr&iacute;bete !</label>
			     		<textarea class="form-control" name="puntuacion" id="exampleTextarea" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 98px; width: 500px;"></textarea>
				    </div>
				</div>
			    <br>
			    <button type="submit" class="btn btn-primary btn-lg btn-block">Siguiente Pregunta</button>
			</form>
		</div>
		<div>
			<form th:action="@{/destruir}" method="post">
				<button type="submit" class="btn btn-outline-danger">Reiniciar cuestionario</button>
			</form>
		</div>

	</div>
	
	<div>
        <h2>Usuarios</h2>
        <ul th:each="usuarios : ${sessionUsuarios}">
            <li th:text="${usuarios}">nombre</li>
        </ul>
    </div>
    <div>
        <h2>Puntuaciones</h2>
        <ul th:each="puntuacion : ${sessionPuntuacion}">
            <li th:text="${puntuacion}">puntos</li>
        </ul>
    </div>
</body>
</html>